<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, minimal-ui" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,user-scalable=yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="app/assets/<%= widgetName %>/favicon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css" />
    <title><%= widgetTitle %></title>
</head>

<body>

    <<%= directiveName %>></<%= directiveName %>>

    <script src="jspm_packages/system.js"></script>
    <script>
        // specify the baseURL here instead of in the config.js
        // to allow for a different baseURL during testing
        System.config({
            baseURL: './'
        });
    </script>
    <script src="config.js"></script>
    <script>
        System.import('./app/bootstrap');
    </script>
</body>

</html>